<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# Control flow functions

In this exercise, we'll use control flow functions to break down a complex problem into its fundamental components.

## Learning objectives

In this train, we will learn to:
- Use the `IIF` control function to check for a certain condition and return a value for each scenario.
- Use the `CASE` statement to categorise data in an existing column.

First, let's load our sample database:

In [ ]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [ ]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:70%";/>
<br>
<br>
    <em>Figure 1: Northwind database ERD</em>
</div>

## Exercise

### 1. Categorise employees based on salaries

Using the `Employees` table in the Northwind database, write a SQL query that returns a list of all employees along with a column `HighSalary` that shows 'Yes' if the employee's salary is above \$50,000 and 'No' otherwise.

In [ ]:
# Add your code here

### 2. Categorise orders based on quantity

Based on the `OrderDetails` table, write a SQL query that categorises orders into 'Small', 'Medium', or 'Large' based on the order quantity: Small (less than 20), Medium (between 20 and 100), and Large (more than 100).

In [ ]:
# Add your code here

### 3. Replace country if `NULL`

Suppose some records in the `Customers` table have null values in the `Country` column. Write a SQL query that retrieves all customers, and if the country of a customer is `NULL`, replace it with the text 'Not Provided'.

In [ ]:
# Add your code here

### 4. Calculate the average price of products

Using the `Products` table, write a SQL query that calculates the average unit price of all products. Then, for each product, show its name, unit price, and a column `Price Comparison` that shows whether its price is 'Below Average', 'Average', or 'Above Average'.

In [ ]:
# Add your code here

### 5. Identify top management employees

In the `Employees` table, assume the `ReportsTo` column has some null values which represent the highest-level employees (such as a CEO). Write a SQL query to list all employees and display a new column `Position` that labels the employee as 'Top Management' if the `ReportsTo` column is `NULL`, and 'Staff' otherwise.

In [ ]:
# Add your code here

### Challenge question

You are working with a products inventory database which has a Products table with the following columns:

- `ProductID`
- `ProductName`
- `UnitPrice`
- `UnitsInStock`
- `ReorderLevel`
- `SupplierCountry`

Your manager wants to assess the company's stock levels and has asked for your assistance.

Write a SQL query that retrieves the following information:

- `ProductName`
- `UnitPrice`
- `UnitsInStock`
- A column `StockStatus` that categorises the stock level of each product as 'Low', 'Medium', or 'High' based on the `UnitsInStock` (Use a `CASE` statement to create this column where 'Low' is less than 20 units, 'Medium' is between 20 and 50 units, 'High' is over 50 units).
- A column `PriceLevel` that categorises the price of each product as 'Cheap', 'Affordable', or 'Expensive' based on the `UnitPrice` (Use a `CASE` statement to create this column where 'Cheap' is less than \$10, 'Affordable' is between \$10 and \$50, 'Expensive' is over \$50).

Your SQL query should consider the use of aggregation functions, date functions, control flow functions, and string functions.

In [ ]:
# Add your code here

## Solutions

### 1. Categorise employees based on salaries

This query uses the `IIF` control function to check if each employee's salary is greater than 50,000. If it is, the function returns 'Yes', otherwise 'No'. This result is displayed in the new column `HighSalary`.

Expected outcome: A table with columns `FirstName`, `LastName`, and `HighSalary`. The `HighSalary` column displays 'Yes' or 'No' depending on each employee's salary.

**NOTE:** The `IF` function is not supported in SQLite, so we use the `IIF` function which is the SQLite equivalent for `IF`.

In [ ]:
%%sql

SELECT 
       FirstName, 
       LastName, 
       IIF(Salary > 50000, 'Yes', 'No') AS HighSalary 
FROM 
       Employees;

### 2. Categorise orders based on quantity

This query uses the `CASE` statement to categorise the size of each order. If the quantity of an order is less than 20, it's categorised as 'Small'. If it's between 20 and 100, it's 'Medium'. Otherwise, it's 'Large'.

Expected outcome: A table with columns `OrderID` and `OrderSize`. The `OrderSize` column displays 'Small', 'Medium', or 'Large' depending on each order's quantity.

In [ ]:
%%sql

SELECT
    OrderID, 
    CASE
        WHEN (Quantity < 20) THEN 'Small'
        WHEN Quantity BETWEEN 20 AND 100 THEN 'Medium'
        ELSE 'Large'
    END as OrderSize
FROM 
    OrderDetails;

### 3. Replace country if `NULL`

This query uses the `IFNULL` function to replace null values in the `Country` column with 'Not Provided'.

Expected outcome: A table with columns `CustomerID`, `CompanyName`, and `Country`. The `Country` column displays the name of the country or 'Not Provided' if the original value was `NULL`.

In [ ]:
%%sql 

SELECT 
    CustomerID, 
    CompanyName, 
    IFNULL(Country, 'Not Provided') AS Country
FROM 
    Customers;

### 4. Calculate the average price of products

This query calculates the average unit price of all products. Then, it compares the unit price of each product with this average and labels it as 'Below Average', 'Average', or 'Above Average' accordingly.

Expected outcome: A table with columns `ProductName`, `UnitPrice`, and `PriceComparison`. The `PriceComparison` column displays 'Below Average', 'Average', or 'Above Average' depending on each product's unit price.

In [ ]:
%%sql

SELECT 
    ProductName, 
    UnitPrice, 
    CASE
        WHEN UnitPrice < (SELECT AVG(UnitPrice) FROM Products) THEN 'Below Average'
        WHEN UnitPrice = (SELECT AVG(UnitPrice) FROM Products) THEN 'Average'
        ELSE 'Above Average'
    END as PriceComparison
FROM 
    Products;

### 5. Identify top management employees

This query uses the `IIF` function to check if the `ReportsTo` field of an employee is `NULL`. If it is, the employee is labelled as 'Top Management', otherwise 'Staff'.

Expected outcome: A table with columns `FirstName`, `LastName`, and `Position`. The `Position` column displays 'Top Management' or 'Staff' depending on the `ReportsTo` field of each employee.

In [ ]:
%%sql

SELECT 
    FirstName, 
    LastName,
    IIF(ReportsTo IS NULL, 'Top Management', 'Staff') as Position
FROM 
    Employees;

### Challenge question

This problem requires the integration of SQL querying with some basic logic and control flow.

Here is a step-by-step breakdown of how to approach solving this problem:

1. **Identify required fields:** The first part of the problem is straightforward. We're being asked to retrieve `ProductName`, `UnitsInStock`, and `UnitPrice` from our `Products` table. These fields can be directly selected in our SQL query.

2. **Categorise stock levels:** We need to create a new field, `StockStatus`, that categorises the stock level based on the `UnitsInStock`. This requires the use of a control flow function – specifically, a `CASE` statement. The `CASE` statement allows us to conditionally return results based on the value of another field. In this case, we will categorise `UnitsInStock` as 'Low' if less than 20, 'Medium' if between 20 and 50, and 'High' if more than 50.

3. **Categorise price levels:** Similarly, we need to create another field, `PriceLevel`, that categorises the price of a product based on the `UnitPrice`. We'll again use a `CASE` statement to accomplish this. We will categorise `UnitPrice` as *Cheap* if less than \$10, *Affordable* if between \$10 and \$50, and *Expensive* if more than \$50.

So, to solve the problem, we would write a SQL query that selects the required fields and uses `CASE` statements to create the new `StockStatus` and `PriceLevel` fields based on the conditions described above.

In SQL, this would look something like:

In [ ]:
%%sql

SELECT 
    ProductName,
    UnitsInStock,
    UnitPrice,
    CASE
        WHEN UnitsInStock < 20 THEN 'Low'
        WHEN UnitsInStock BETWEEN 20 AND 50 THEN 'Medium'
        ELSE 'High'
    END AS StockStatus,
    CASE
        WHEN UnitPrice < 10 THEN 'Cheap'
        WHEN UnitPrice BETWEEN 10 AND 50 THEN 'Affordable'
        ELSE 'Expensive'
    END AS PriceLevel
FROM 
    Products;

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>