In [ ]:
# Testing the connection first

import pymysql as pms
import pandas as pd
from sqlalchemy import create_engine


CONSTRING = 'mysql+mysqlconnector://root:42069@127.0.0.1:3306/md_water_services'
ENGINE = create_engine(CONSTRING)

# Check for connection.
if(CONSTRING):
    print("Successfully connected")
else:
    print("Connection failed:(")

In [ ]:
df = pd.read_sql_query("SELECT * FROM data_dictionary LIMIT 10", ENGINE)
df

In [ ]:
dfA = pd.read_sql_query("SELECT * FROM employee LIMIT 10", ENGINE)
dfA

In [ ]:
dfB = pd.read_sql_query("SELECT * FROM global_water_access LIMIT 10", ENGINE)
dfB

In [ ]:
dfC = pd.read_sql_query("SELECT * FROM location LIMIT 10", ENGINE)
dfC

In [ ]:
dfD = pd.read_sql_query("SELECT * FROM visits LIMIT 10", ENGINE)
dfD

In [ ]:
dfE = pd.read_sql_query("SELECT * FROM water_quality LIMIT 10", ENGINE)
dfE

In [ ]:
dfD = pd.read_sql_query("SELECT * FROM water_source LIMIT 10", ENGINE)
dfD

In [ ]:
dfE = pd.read_sql_query("SELECT * FROM well_pollution LIMIT 10", ENGINE)
dfE

In [ ]:
df_1 = pd.read_sql_query("SELECT source_id, type_of_water_source AS Type, number_of_people_served AS Population FROM water_source", ENGINE)
df_1

In [ ]:
df_2 = pd.read_sql_query("SELECT * FROM water_source WHERE type_of_water_source = 'well' ORDER BY source_id", ENGINE)
df_2

In [ ]:
visits = pd.read_sql_query("SELECT location_id, visit_count FROM visits WHERE visit_count > 5 ORDER BY location_id", ENGINE)
visits

In [ ]:
quality_score = pd.read_sql_query("SELECT * FROM water_quality WHERE subjective_quality_score > 5 AND visit_count > 5", ENGINE)
quality_score

In [ ]:
df_4 = pd.read_sql_query("SELECT * FROM well_pollution WHERE results = 'Contaminated: Biological' OR results = 'dirty'", ENGINE)
df_4