In [3]:
# Testing the connection first

import pymysql as pms
import pandas as pd
from sqlalchemy import create_engine


CONSTRING = 'mysql+mysqlconnector://root:42069@127.0.0.1:3306/md_water_services'
ENGINE = create_engine(CONSTRING)

# Check for connection.
if(CONSTRING):
    print("Successfully connected")
else:
    print("Connection failed:(")

Successfully connected

In [12]:
df = pd.read_sql_query("SELECT * FROM employee WHERE town_name = 'Rural'", ENGINE)
df

,assigned_employee_id,employee_name,phone_number,email,address,province_name,town_name,position
0,1,Bello Azibo,+99643864786,None,129 Ziwa La Kioo Road,Kilimani,Rural,Field Surveyor
1,2,Bakari Iniko,+99222599041,None,18 Mlima Tazama Avenue,Hawassa,Rural,Field Surveyor
2,4,Cheche Buhle,+99381679640,None,1 Savanna Street,Akatsi,Rural,Field Surveyor
3,5,Zuriel Matembo,+99034075111,None,26 Bahari Ya Faraja Road,Kilimani,Rural,Field Surveyor
4,6,Deka Osumare,+99379364631,None,104 Kenyatta Street,Akatsi,Rural,Field Surveyor
5,7,Lalitha Kaburi,+99681623240,None,145 Sungura Amanpour Road,Kilimani,Rural,Field Surveyor
6,12,Gamba Shani,+99438283153,None,38 Mlima Tazama Avenue,Hawassa,Rural,Field Surveyor
7,14,Harith Nyota,+99917230124,None,42 Malabo Drive,Kilimani,Rural,Field Surveyor
8,16,Isoke Amani,+99313603182,None,55 Fennec Way,Sokoto,Rural,Field Surveyor
9,22,Lesedi Kofi,+99611183730,None,52 Moroni Avenue,Sokoto,Rural,Field Surveyor
10,24,Makena Thabo,+99690308755,None,81 Rhodes Street,Hawassa,Rural,Field Surveyor
11,32,Quibilah Akua,+99533195846,None,77 Kinshasa Boulevard,Sokoto,Rural,Field Surveyor
12,40,Usafi Ayo,+99613194771,None,76 Kenyatta Street,Sokoto,Rural,Field Surveyor
13,42,Vuyisile Kwame,+99489752164,None,1 Zambezi Way,Kilimani,Rural,Field Surveyor
14,44,Wambui Jabali,+99269319001,None,31 Mandela Road,Hawassa,Rural,Field Surveyor
15,48,Yewande Ebele,+99239164858,None,119 Moroni Avenue,Hawassa,Rural,Field Surveyor
16,49,Nadia Zalika,+99578401238,None,26 Bahari Ya Faraja Road,Kilimani,Rural,Project Manager
17,50,Ayo Deka,+99345162378,None,18 Mlima Tazama Avenue,Hawassa,Rural,UI/UX Designer
18,54,Dalila Lesedi,+99471523698,None,18 Casablanca Road,Sokoto,Rural,Data Analyst
19,73,Kofi Sanaa,+99874512369,None,42 Malabo Drive,Kilimani,Rural,Creative Designer
20,79,Makena Usafi,+99583124796,None,55 Fennec Way,Sokoto,Rural,Quality Assurance Analyst
21,81,Nia Vuyisile,+99273841596,None,52 Moroni Avenue,Sokoto,Rural,Civil Engineer
22,83,Ona Wambui,+99968217435,None,81 Rhodes Street,Hawassa,Rural,Public Relations Specialist
23,89,Quibilah Yewande,+99721534698,None,110 Nyerere Road,Kilimani,Rural,Supervisor
24,94,Sanaa Ayo,+99375418692,None,172 Fisi Nkrumah Street,Akatsi,Rural,Data Scientist
25,98,Usafi Bahir,+99234156789,None,1 Savanna Street,Akatsi,Rural,Analytical Chemist
26,102,Vuyisile Ghadir,+99712584936,None,104 Kenyatta Street,Akatsi,Rural,Micro Biologist
27,104,Wambui Hadiya,+99634157892,None,145 Sungura Amanpour Road,Kilimani,Rural,Compliance Officer
28,108,Yewande Jengo,+99123456978,None,25 Selassie Drive,Amanzi,Rural,Construction Manager

In [11]:
df_1 = pd.read_sql_query("SELECT source_id, type_of_water_source AS Type, number_of_people_served AS Population FROM water_source", ENGINE)
df_1

          source_id                Type  Population
0      AkHa00000224         tap_in_home         956
1      AkHa00001224  tap_in_home_broken         930
2      AkHa00002224  tap_in_home_broken         486
3      AkHa00003224                well         364
4      AkHa00004224  tap_in_home_broken         942
...             ...                 ...         ...
39645  SoRu39645224         tap_in_home         438
39646  SoRu39646224         tap_in_home         614
39647  SoRu39647224                well         206
39648  SoRu39648224  tap_in_home_broken         370
39649  SoRu39649224                well         202

[39650 rows x 3 columns]

In [6]:
df_2 = pd.read_sql_query("SELECT * FROM water_source WHERE type_of_water_source = 'well' ORDER BY source_id", ENGINE)
df_2

          source_id type_of_water_source  number_of_people_served
0      AkHa00003224                 well                      364
1      AkHa00008224                 well                      398
2      AkHa00009224                 well                      346
3      AkHa00010224                 well                      236
4      AkHa00011224                 well                      168
...             ...                  ...                      ...
17378  SoRu39641224                 well                      296
17379  SoRu39642224                 well                      320
17380  SoRu39643224                 well                      338
17381  SoRu39647224                 well                      206
17382  SoRu39649224                 well                      202

[17383 rows x 3 columns]

In [55]:
visits = pd.read_sql_query("SELECT location_id, visit_count FROM visits WHERE visit_count > 5 ORDER BY location_id", ENGINE)
visits

     location_id  visit_count
0      AkHa00036            7
1      AkHa00036            6
2      AkHa00036            8
3      AkHa00090            8
4      AkHa00090            7
...          ...          ...
8779   SoRu39623            8
8780   SoRu39623            6
8781   SoRu39644            7
8782   SoRu39644            6
8783   SoRu39644            8

[8784 rows x 2 columns]